#credits {
	margin-top: 1em;
}
path.node-fill, rect.relationship-fill {
  fill: #c3dff3;
}

a:hover path.node-fill, a:hover rect.relationship-fill {
  fill: #ff8000;
}

a:hover {
	text-decoration: none;
}
